.btn-primary, .btn-primary:active, .btn-primary:visited,
.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited,
.dropdown-item:active,
.active .page-link {
    background-color: #3864ff;
}

.btn-primary, .btn-outline-primary, .btn-outline-primary:visited {
    outline-color: #3864ff;
}

.btn-primary:hover {
    background-color: #2c4fcc;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2em;
}

.btn svg {
    margin-right: 5px;
}

.pagination .page-item:first-child .page-link {
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}

.pagination .page-item:last-child .page-link {
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

a, .page-link {
    color: #3864ff;
}

.navbar-avatar, .profile-avatar {
    border-radius: 50%;
}

.hero-text {
    line-height: 1.5;
}

.hero h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
}

.hero p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.65;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hero h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .hero h1 {
        font-size: 40px;
        /*margin-top: 10vh;*/
    }
}

p, .text-muted, a.btn, .form-label {
    font-family: 'Poppins', sans-serif;
}

.page-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.page-subheading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.form-label, .requiredField {
    color: dimgrey;
    margin-bottom: 5px;
    font-size: 90%;
}

.form-control, .form-select {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 0.2em;
}

.name {
    --bg-size: 400%;
    --color-one: #3864ff;
    --color-two: #9bb1ff;
    background: linear-gradient(
            90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)
    ) 0 0 / var(--bg-size) 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
    .name {
        animation: move-bg 8s linear infinite;
    }

    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}
