.btn-primary, .btn-primary:active, .btn-primary:visited, .btn-outline-primary:hover,
.btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: #3864ff !important;
}

.btn-outline-primary {
    outline-color: #3864ff; !important;
}

.btn-primary:hover {
    background-color: #2c4fcc !important;
}

.dropdown-link-active-bg {
    background-color: #3864ff; !important;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.btn svg {
  margin-right: 5px;
}

.hero {
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.hero-text {
	flex-basis: 50%;
	padding-right: 5%;
	box-sizing: border-box;
    line-height: 1.5;
}

.hero h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 54px;
}

.hero p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.65;
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-image {
        width: 105%;
  }
    .hero h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .hero-image {
        display: none;
    }
    .hero h1 {
        font-size: 40px;
        margin-top: 100px;
    }
}

.page-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.name {
    --bg-size: 400%;
    --color-one: #3864ff;
    --color-two: #9bb1ff;
    background: linear-gradient(
            90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
    .name {
        animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}
