{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Sign Up
{% endblock title %}

{% block content %}
    <h1 class="page-heading">Sign Up</h1>

    <div class="row my-3">
        <div class="col-md-6">
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>

{% endblock content %}
