{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tracky – {% block title %} {% endblock title %}</title>

    {% load django_bootstrap5 %}

    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles/custom.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>


    <link rel="stylesheet" href="https://unpkg.com/@jarstone/dselect/dist/css/dselect.css">
    <script src="https://unpkg.com/@jarstone/dselect/dist/js/dselect.js"></script>


    {% bootstrap_javascript %}

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.svg' %}"/>

</head>
<body class="d-flex flex-column min-vh-100 vh-100">

{% include 'includes/navbar.html' %}

<div class="container my-4">

    {% bootstrap_messages %}

    {% block content %}
    {% endblock content %}

</div>

{% include 'includes/footer.html' %}

</body>
</html>
