{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tracky – {% block title %} {% endblock title %}</title>

    {% load django_bootstrap5 %}

    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles/custom.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap" rel="stylesheet">

    {% bootstrap_javascript %}

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.svg' %}"/>

</head>
<body class="d-flex flex-column min-vh-100 vh-100">

{% include 'includes/navbar.html' %}

<div class="container mt-4 mb-4">

{% bootstrap_messages %}

{% block content %}
{% endblock content %}
</div>

{% include 'includes/footer.html' %}

</body>
</html>
