{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Create Contact Us
{% endblock title %}

{% block content %}

    <div class="row g-0 justify-content-center">
        <div class="card card-box col-md-9 col-xl-6">

            <div class="card-header">
                <h1 class="page-heading h2 my-2">Contact Us</h1>
            </div>

            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="">
                        {{ form.name|as_crispy_field }}
                        {{ form.email_from|as_crispy_field }}
                        {{ form.subject|as_crispy_field }}
                        {{ form.message|as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-primary">Send message</button>
                </form>
            </div>

        </div>
    </div>

{% endblock content %}
