{% extends 'base.html' %}

{% block title %}
    Emails
{% endblock title %}

{% block content %}

    <div class="row">
    <div class="col-6">
        <h1 class="page-heading">Emails</h1>
    </div>

    <div class="col-6 d-flex align-items-end justify-content-end">
        <div class="mb-3">
            {% include 'includes/filtering.html' %}
        </div>
    </div>
    </div>

    {% if not request.user.is_superuser %}
        <p>You don't have access to this page</p>
    {% else %}

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="table-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">From</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Message</th>
                </tr>
                </thead>
                {% for email in object_list %}
                    <tr>
                        <td>{{ email.id }}</td>
                        <td class="text-nowrap">{{ email.email_from }}</td>
                        <td class="text-nowrap">{{ email.subject }}</td>
                        <td>{{ email.message }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% include 'includes/pagination.html' %}

{% endblock content %}
