{% extends 'base.html' %}

{% block title %}
    Emails
{% endblock title %}

{% block content %}

<h1>Emails Table</h1>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>From</th>
        <th>Subject</th>
        <th>Message</th>
    </tr>
    {% for email in object_list %}
    <tr>
        <td>{{ email.id }}</td>
        <td>{{ email.email_from }}</td>
        <td>{{ email.subject }}</td>
        <td>{{ email.message }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
