{% extends 'base.html' %}

{% block title %}
    Emails
{% endblock title %}

{% block content %}

<h1>Emails Table</h1>
{% if not request.user.is_superuser %}
    <p>You don't have access to this page</p>
{% else %}
<table class="table table-hover table-bordered">
    <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">From</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
        </tr>
    </thead>
    {% for email in object_list %}
    <tr>
        <td>{{ email.id }}</td>
        <td>{{ email.email_from }}</td>
        <td>{{ email.subject }}</td>
        <td>{{ email.message }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock content %}
