{% extends 'base.html' %}

{% load static %}

{% block title %}
    Homepage
{% endblock title %}

{% block content %}

    <section class="hero mt-5">
        <div class="container-fluid">
            <div class="row justify-content-center d-flex align-items-center">
                <div class="col-md-6 hero-text">
                    <h1 class="mb-3">Meet <span class="name">Tracky</span> — Exchange Rates Monitoring App</h1>
                    <p>Tracky is an exchange rates monitoring app that helps you keep track of currency exchange
                        rates in real-time. With Tracky, you can easily monitor the exchange rates of your favorite
                        currencies. Whether you’re a traveler, a business owner, or just someone who wants to stay
                        up-to-date with the latest exchange rates, Tracky has got you covered.</p>
                    {% if not request.user.is_authenticated %}
                        <a class="btn btn-primary" href="{% url 'account:signup' %}">Sign Up</a>
                        <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
                    {% else %}
                        <a class="btn btn-primary btn-lg" href="{% url 'currency:rates-list' %}">Browse Rates</a>
                    {% endif %}
                </div>
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img class="img-fluid hero-image" src="{% static 'Hero-illustration.png' %}">
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
