{% extends 'base.html' %}

{% block title %}
    Rate details
{% endblock title %}

{% block content %}

    <h1 class="page-heading">Rate Details</h1>

    <table class="table table table-hover table-bordered mt-4">
        <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Buy</th>
            <th scope="col">Sell</th>
            <th scope="col">Source</th>
            <th scope="col">Currency</th>
            <th scope="col">Created</th>
        </tr>
        </thead>
        <tr>
            <td>{{ rate.id }}</td>
            <td>{{ rate.buy }}</td>
            <td>{{ rate.sell }}</td>
            <td><img src="{{ rate.source.logo.url }}"> {{ rate.source }}</td>
            <td>{{ rate.get_currency_display }}</td>
            <td>{{ rate.created }}</td>
        </tr>
    </table>

    <a href="{% url 'currency:rates-list' %}" type="button" class="btn btn-outline-primary">Back to all rates</a>

{% endblock content %}
