{% extends 'base.html' %}

{% block title %}
    Rates
{% endblock title %}

{% block content %}

    <h1>Rates Table</h1>

    <a href="{% url 'currency:rate-create' %}">Create a new rate</a><br><br>

    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Buy</th>
            <th>Sell</th>
            <th>Source</th>
            <th>Actions</th>
        </tr>
        {% for rate in object_list %}
        <tr>
            <td>{{ rate.id }}</td>
            <td>{{ rate.buy }}</td>
            <td>{{ rate.sell }}</td>
            <td>{{ rate.source }}</td>
            <td>
                <a href="{% url 'currency:rate-update' rate.id %}">Update</a><br>
                <a href="{% url 'currency:rate-delete' rate.id %}">Delete</a><br>
                <a href="{% url 'currency:rate-details' rate.id %}">Details</a>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}
