{% extends 'base.html' %}

{% block title %}
    Rate details
{% endblock title %}

{% block content %}

    <h1>Rate Details</h1>

    <table class="table table table-hover table-bordered mt-4">
        <thead class="table-dark">
            <td>ID</td>
            <td>Buy</td>
            <td>Sell</td>
            <td>Source</td>
            <td>Currency</td>
            <td>Created</td>
        </thead>
        <tr>
            <td>{{ rate.id }}</td>
            <td>{{ rate.buy }}</td>
            <td>{{ rate.sell }}</td>
            <td>{{ rate.source }}</td>
            <td>{{ rate.get_currency_display }}</td>
            <td>{{ rate.created }}</td>
        </tr>
    </table>

    <hr>
    <a href="{% url 'currency:rates-list' %}">Back to all rates</a><br><br>

{% endblock content %}
