{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Create source
{% endblock title %}

{% block content %}

    <h1 class="page-heading">Create a new source</h1>

    <form method="post">
        {% csrf_token %}
        <div class="col-md-6 col-lg-3">
            {{ form.name|as_crispy_field }}
            {{ form.source_url|as_crispy_field }}
            {{ form.logo|as_crispy_field }}
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>

{% endblock content %}
