{% extends 'base.html' %}

{% block title %}
    Source details
{% endblock title %}

{% block content %}

    <h1 class="page-heading">Source Details</h1>

    <table class="table table-hover table-bordered mt-4">
        <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">URL</th>
        </tr>
        </thead>
        <tr>
            <td>{{ source.id }}</td>
            <td><img src="{{ source.logo.url }}"> {{ source.name }}</td>
            <td><a href="{{ source.source_url }}">{{ source.source_url }}</a></td>
        </tr>
    </table>

    <a href="{% url 'currency:sources-list' %}" type="button" class="btn btn-outline-primary">Back to all sources</a>

{% endblock content %}
