{% extends 'base.html' %}

{% block title %}
    Source details
{% endblock title %}

{% block content %}

    <h1>Rate Details</h1>

    <table class="table table-hover table-bordered mt-4">
        <thead class="table-dark">
            <td>ID</td>
            <td>Name</td>
            <td>URL</td>
        </thead>
        <tr>
            <td>{{ source.id }}</td>
            <td>{{ source.name }}</td>
            <td><a href="{{ source.source_url }}">{{ source.source_url }}</a></td>
        </tr>
    </table>

    <hr>
    <a href="{% url 'currency:sources-list' %}">Back to all sources</a><br><br>

{% endblock content %}
