{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Login
{% endblock title %}

{% block content %}

    <div class="row g-0 justify-content-center">
        <div class="card card-box col-md-9 col-xl-6">

            <div class="div card-header">
                <h1 class="page-heading h2 my-2">Login</h1>
            </div>

            <div class="card-body">
                <form method="post" class="form mb-3">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a class="btn btn-outline-primary" href="{% url 'password_reset' %}">Forgot password?</a>
                </form>
                <p class="text-muted d-inline">First time user?</p> <a class="d-inline"
                                                                       href="{% url 'account:signup' %}">Sign Up</a>
            </div>

        </div>
    </div>

{% endblock content %}
