{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Password reset
{% endblock title %}

{% block content %}
  {% if validlink %}
    <h3 class="page-heading">Change password</h3>

    <div class="row my-3">
        <div class="col-md-6">
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Change password</button>
            </form>
        </div>
    </div>

  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
