{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Profile
{% endblock title %}

{% block content %}
    <h1>Update profile</h1>

    <div class="row my-3">
        <div class="col-md-3">
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>

    <hr>
    <h2>Password settings</h2>
    <a class="btn btn-outline-primary mt-2" href="{% url 'password_change' %}">Change password</a>

{% endblock content %}