{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% load static %}

{% block title %}
    Profile
{% endblock title %}

{% block content %}
    <h1 class="page-heading">Update profile</h1>
    <p class="mb-3 text-muted">Change your profile settings</p>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">

            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-personal-info"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Personal Information
            </button>

            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-security"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Security
            </button>

        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-personal-info" role="tabpanel"
             aria-labelledby="nav-home-tab">

            <h2 class="page-subheading mt-3 mb-2">Personal Information</h2>

            <div class="row col-md-8 col-lg-6 col-xl-5">
                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="d-inline-flex align-items-end">
                        <div>
                            {% if object.avatar %}
                                <img src="{{ object.avatar.url }}" class="profile-avatar me-3 mb-3" height="160">
                            {% else %}
                                <img src="{% static 'default-avatar.png' %}" class="img-fluid me-3 mb-3"
                                     height="160">
                            {% endif %}
                        </div>
                        <div>
                            <div class="mb-3">
                                {#<label for="avatar" class="form-label">Avatar</label>#}
                                <input type="file" class="form-control" id="id_avatar" aria-describedby="nameHelp">
                                <div id="nameHelp" class="form-text">Best size for photo is 256×256px.</div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="id_avatar-clear_id">
                                    <label class="form-check-label" for="id_avatar-clear_id">Remove profile
                                        picture</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        {% bootstrap_field form.first_name wrapper_class="mb-2" %}
                        {% bootstrap_field form.last_name wrapper_class="mb-2" %}
                        {% bootstrap_field form.phone %}
                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>

                </form>
            </div>

        </div>

        <div class="tab-pane fade" id="nav-security" role="tabpanel" aria-labelledby="nav-profile-tab">

            <h2 class="page-subheading mt-3 mb-3">Password settings</h2>
            <a class="btn btn-primary" href="{% url 'password_change' %}">Change password</a>

        </div>

    </div>

    <script>
        $(document).ready(function () {
            $('input[data-mask]').mask($('input[data-mask]').attr('data-mask'));
        });
    </script>

{% endblock content %}
